body{
  margin: 0;
  padding: 0;
}
.titulo{
  width: 5%;
  height: 100px;
  display: inline-block;
  background: rgb(0, 153, 255);
  margin: 0 0 0 25%;
  text-align: center;
  text-transform: uppercase;
}
.titulo a{
  color: white;
  text-decoration: none;
}
nav{
  width: 100%;
  height: 40px;
  position: relative;
}
nav ul{
  position: absolute;
  display: inline-block;
  top: 0;
  right: 25%;
}
.item{
  display: inline-block;
  padding: 0 0 0 50px;
}

.item a{
  text-decoration: none;
  color: rgb(0, 153, 255);
}

main{
  background: black;
}
section{
  background: black;
  height: 500px;
}

#img_fundo{
  width: 100%;
  height: 700px;
}
.container{
  width: 50%;
  height: 250px;
  position: absolute;
  padding-bottom: 15px;
  top: 30%;
  left: 25%;
  text-align: center;
  background: black;
  opacity: 0.75;
}
.container h1{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 20px;
}

.container p{
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}

.btn{
  padding: 10px 20px;
  margin: 5px;
  color: #ffffff;
  background:rgb(0, 153, 255);
  border: 0px;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 15px;
}

.container2{
  margin-top: 2%;
  margin-left: 20%;
  width: 920px;
  height: 460px;
}

.container2 div{
  display: inline-block;
  position: absolute;
  margin: 120px;
  width: 500px;
  
}

.container2 h2{
  color: rgb(0, 153, 255);
  font-size: 40px;
}

.container2 p {
  font-size: 18px;
  
}

.corpo2{
  margin-top: 2%;
  margin-left: 20%;
  width: 920px;
  height: 460px;
}

.corpo3{
  margin-top: 2%;
  margin-left: 20%;
  width: 920px;
  height: 460px;
}

